/* elements */
body, select, input, textarea {
	color: #444; /* off black */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/default/resources/boxsizing.htc); // IE7 only
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0;
	color: $red;
}

h1, 
.module h3 {
	font-size: 18px;
	line-height: 31px;
	text-shadow: 1px -1px 1px black;
	margin-bottom: 18px;
	padding-left: 46px;
	background: url('../images/bg_headers.png') left bottom no-repeat; 
	border-bottom: 1px solid $border;
}

h2 {
	font-size: 12px;
}

h4 { font-size: 12px; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a, a:active, a:visited {
	color: $red;
	text-decoration: none;
}
a:hover {
	color: $red;
	text-decoration: underline;
}
