.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

body {
	background: url('../images/bg.jpg') top center repeat-x;
}

#header {
	background: url('../images/pegboard.png') top center no-repeat;
	min-height: 185px;
	position: relative;
}

#main {
	background: url('../images/bg_mainTop.png') top center no-repeat;
	padding: 37px 0 0;
	margin: 0 -28px;
	
	> div {
		background: url('../images/bg_mainBottom.png') bottom center no-repeat;
		padding-bottom: 83px;
		*zoom: 1;
	}
	
	> div > div {
		background: url('../images/bg_mainMiddle.png') top center repeat-y;
		padding: 0 37px;
		*zoom: 1;
	}
}

#nav {
	background: url('../images/bg_nav.png') top center no-repeat;
	margin: 0 -32px;
	padding: 0 20px 6px;
}

#content {
	padding: 30px 0 0;
	*zoom: 1;
}

#top,
#comp {
	float: left;
	width: 542px;
	margin-bottom: 25px;
	
	&.wide1 {
		width: auto;
	}
}

#top {
	margin-bottom: 25px;
}

#sidebar {
	float: right;
	width: 302px;
	margin-left: 58px;
}

#footer {
	margin: 0 -10px;
	padding-bottom: 30px;
	overflow: auto;
}

#copyright {
	float: right;
	font-size: 10px;
	text-align: right;
	
	a {
		color: black;
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}

//news blog layout 

.blog .item-separator {
	margin-bottom: 3em;
}