// @group hmenu
.hmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
	}

	.menu > li > a,
	.menu > li > span {
		display: block;

		span {

		}
	}

	ul ul { // submenu
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;

		li {
			white-space: nowrap;
		}
	}
}

.primary {
	font-size: 14px;
	text-align: center;
	
	.menu {
		line-height: 47px;
	}
	
	li {
		padding-left: 28px;
		margin-left: 28px;
		background: url('../images/divider_menu.png') left center no-repeat;
		&:first-child {
			background: none;
			padding-left: 0;
			margin-left: 0;
		}
	}
	
	a {
		color: black;
		
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}

.secondary {
	float: left;
	font-size: 10px;
	line-height: 1em;
	margin-left: -10px;
	
	li {
		padding: 0 8px;
		border-left: 1px solid $red;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
	}
}

// @group vmenu
.vmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	ul ul { // submenus
		margin: 0.5em 0 1em 1em;
		list-style: none;
	}
}
