/* elements */
body {
	background: #ffffff url('../images/bg_repeat.jpg') top center repeat-x;
	
}

body, select, input, textarea {
	color: #444; /* off black */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	background: url('../images/hammer.png') bottom left no-repeat;
	border-bottom: 1px solid #c0c0c0;
	color: #d72229;
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	padding: 0 0 0 47px;
	margin: 0 0 20px 0;
}

p {margin: 0;}
#sidebar p,
#copyright p {margin: 0 0 5px 0;}

a, a:active, a:visited {
	color: #d72229;
	text-decoration: none;
}
a:hover {
	color: #d72229;
	text-decoration: underline;
}
