/* layout */

.container {
	width: 940px;
	padding: 0 20px;
	margin: 0 auto;
}

.bodyContainer {
	padding: 25px 13px 25px 19px;
}


#header {
	background: url('../images/bg_header.jpg') top center no-repeat;
	padding: 0 20px;
	height: 185px;
}

#body {background: url('../images/bg_bodyBottom.png') bottom center no-repeat; padding-bottom: 140px;}
#body > div {background: url('../images/bg_body.png') top center repeat-y;}

#content {
	float: left;
	width: 542px;
}

#masthead {}

#comp {}

#sidebar {
	float: left;
	width: 315px;
	padding-left: 50px;
}