/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

.redLinkStyle {
	font-size: 10px;
	font-style: italic;
}

.redTitleStyle {
	color: #d72229;
	font-weight: bold;
}

.dateStyle {
	font-size: 10px;
	font-weight: bold;
}